{% extends "main.html" %}

{% block content %}

    <p>
        A W3C (World Wide Web Consortium) é uma organização internacional que desempenha um papel fundamental na definição de padrões para a World Wide Web.
        Fundada em 1994 por Tim Berners-Lee, o inventor da Web, a W3C tem como objetivo promover a acessibilidade, a interoperabilidade e o desenvolvimento
        sustentável da Web.
    </p>

    <p>
        A Web é uma plataforma aberta e descentralizada, que conecta pessoas de todo o mundo e fornece acesso a uma vasta quantidade de informações e serviços.
        No entanto, para que a Web funcione de maneira eficiente e consistente, é necessário que haja padrões e diretrizes comuns para o desenvolvimento de
        tecnologias web.
    </p>

    <p>
        A W3C desempenha um papel crucial na definição desses padrões por meio de um processo colaborativo e aberto. Ela reúne especialistas de diversas áreas,
        como desenvolvimento web, design, acessibilidade, segurança e privacidade, para discutir e criar especificações técnicas que são amplamente adotadas.
    </p>

    <p>
        Uma das contribuições mais significativas da W3C é o desenvolvimento do HTML (Hypertext Markup Language) e do CSS (Cascading Style Sheets), que são as
        principais tecnologias utilizadas para a criação e estilização de páginas web. Além disso, a W3C também desempenha um papel importante no desenvolvimento
        de tecnologias como XML, RDF, SVG e muitas outras.
    </p>

    <p>
        A acessibilidade é uma preocupação fundamental para a W3C. A organização trabalha para garantir que a Web seja acessível a todas as pessoas,
        independentemente de suas habilidades e necessidades. Ela desenvolve diretrizes e técnicas para ajudar os desenvolvedores a criar sites e aplicativos
        acessíveis, permitindo que pessoas com deficiência possam navegar e interagir com a Web de forma efetiva.
    </p>

    <p>
        A interoperabilidade é outro aspecto essencial abordado pela W3C. Com a proliferação de dispositivos e navegadores web, é fundamental que as tecnologias
        funcionem de maneira consistente em diferentes plataformas. A W3C trabalha para criar especificações técnicas claras e padronizadas, garantindo que os
        sites e aplicativos sejam compatíveis com uma ampla gama de dispositivos e navegadores.
    </p>

    <p>
        Além disso, a W3C também está envolvida em questões relacionadas à segurança, privacidade, internacionalização e muitos outros aspectos do desenvolvimento
        web. A organização busca equilibrar a inovação tecnológica com a garantia de que a Web seja um ambiente seguro, confiável e acessível para todos.
    </p>

    <p>
        A W3C desempenha um papel crucial na evolução contínua da Web, permitindo que ela se adapte às necessidades em constante mudança dos usuários e das
        tecnologias. Seu trabalho ajuda a impulsionar o desenvolvimento de tecnologias web mais avançadas e a promover a colaboração global na construção de um
        ecossistema web sustentável.
    </p>

{% endblock %}
